{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
    
<br>
<div class="card">
  <h5 class="card-header">Register</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Register" class="btn btn-outline-primary">
        </form>
    </p>
  </div>
</div>
{% endblock content %}
